@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-inter: "Inter", sans-serif;
  --color-primary: #bf040a;
}
@layer base {
  html {
    @apply transition-colors duration-300;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-[#171923] dark:text-white;
  }

  .container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
  }
}
